%box-shadow {
  border-radius: 10px;
  box-shadow: 1px 1px 3px #6dffff, 
    -1px -1px 3px #6dffff;
}

.Todo-List {
  font-family: 'Varela Round', sans-serif;
  background-color: transparent;
  margin: 20px 0 8px 0;

  .list-group {
    margin: 0 15px;
  }

  .list-group-item {
    list-style: none;
    background-color: transparent;
    padding: 0;
  }

  .item {
    font-weight: 900;
    letter-spacing: 1px;
    word-break: break-word;
    text-transform: capitalize;
  };

  .input-checkbox {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: .3rem 1rem;
  } 

  .item-icons {
    .item-icon {
      font-size: 22px;
      padding: 3px 0px;
      margin: 0 .4rem;
      cursor: pointer;
      transition: transform .5s;
    
    }

    .item-icons,.trash {
      color:#a50010;
      &:hover{
        color: #ff0000;
        transform: scale3d(1.2, 1.2, 1.2);
      }
    }

    .item-icons,.edit {
      color: #1a9b00;
      &:hover{
        color: #00ff15;
        transform: scale3d(1.2, 1.2, 1.2);   
      }
    }
  };

  .icon-save-edit {
    color:#6d6d6d;
    padding: 2px;
    font-size: 24px;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      color:#23d300;
    }
  }

  .input-save-edit {
    min-width: 200px;
    width: 500px;
    background: transparent;
    color:#0044aa;
    text-transform: capitalize;
    font-weight: 900;
    letter-spacing: 1px;
    padding-left: 8px;
    border: none;
    outline: none;
  }

  .save-button {
    margin: 0 5px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
  }

  .done {
    text-decoration: line-through #0044aa;
    color: #0044aa;
  }

  .todo-list-count {
    margin: 20px auto 20px auto;
    text-align: center;
    font-size: 1.5rem;
    color: #0044aa;
    font-weight: 900; 
    max-width: 350px;
    letter-spacing: 1px;
    @extend %box-shadow;

    .todo-list-number {
      color: #ff0018;
      font-size: 25px;
    }
  }
};
