html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
  font-family: 'Varela Round', sans-serif;
  background-color: #001529;
  color: rgb(255, 255, 255);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

.flex-param {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

%box-shadow {
  border-radius: 10px;
  box-shadow: 1px 1px 3px #6dffff, 
    -1px -1px 3px #6dffff;
}

.App {
  font-family: 'Varela Round', sans-serif;
  min-width: 450px;
  max-width: 800px;
  margin: 4rem auto 4rem auto;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 1px 1px 12px #00eeff, 
    -1px -1px 12px #00eeff;
};

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Header {
  // position: fixed;
  // z-index: 9;
  // transition: all 0.3s ease;
  
  // background: rgb(207, 207, 207);
  font-family: 'Varela Round', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  .title {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgb(255, 0, 0);
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 2.5rem;
    border-bottom: 2px solid rgb(129, 49, 49);
  }

  .position {
    font-size: 17px;
    color: #00fbffcf;
    font-weight: 900;
    border-top: 2px solid white;
  }

  .num-color {
    color: #ff0018;
    font-size: 18px;
    font-weight: 900;
  }
};

.Search-Panel {
  .search-input {
    font-size: 18px;
    text-transform: capitalize;
    cursor: pointer;
  }
};

.ui.input>input {
  color: white;

  &:focus {
    color: white  ;
  }
} 


.Add-Todos {
  width: 600px;
  min-width: 300px;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 1px;
  font-weight: 900;
};

.active {
  animation: del .6s linear;
  transition: all .9s;
}
@keyframes del {
  to{
    opacity: 0; 
    transform: rotate(1deg) skew(1deg) scale(2);
  }
}





